.articles {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.articles-header {
  height: 200px;
  margin-bottom: 2rem;
  background-color: #eaabc8;
  border-radius: 32px;
}

.articles-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.article {
  display: flex;
  flex-direction: column;
  color: #4e4e4e;

  &:hover {
    cursor: pointer;

    .article-showcase {
      box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

.article-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #ABEAEA;
  border-radius: 16px;

  img {
    height: 100%;
  }
}

.article-price {
  font-size: 0.9rem;
}