.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-stories {
  display: inline-flex;
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: #ADADAD;
    transition: transform 0.15s linear;

    svg, img {
      height: 100%;
      margin-bottom: 0.25rem;
    }

    span {
      font-weight: 375;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.main-showcases {
  display: grid;
  grid-template-columns: auto auto;

  a {
    flex: 1;
    height: 125px;
    margin: 0.5rem;
    background: #ABEAEA;
    border-radius: 16px;

    &.showcase-tall {
      height: 400px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & > div {
    display: grid;
    flex: 1;
  }
}