.explorer {
  width: 25%;
  margin-right: 10%;
  h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 2rem;

    li {
      position: relative;
      display: inline-flex;
      width: fit-content;
      padding: 0.25rem 0.5rem;
      margin: 0.5rem 0;
      overflow: hidden;
      border-radius: 32px;
      transition: background-color 0.1s linear;

      span {
        display: flex;
        justify-content: center;
        width: 20px;
        margin-right: 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #EAABC8;
      }
    }
  }
}